<div class="container">
    <div class="row">
        <!-- <div class="col-10 mb-3 mt-2">
            <input class="form-control" type="text" [(ngModel)]="search">
        </div>
        <div class="col-2 mb-3 mt-2">
            <button class="btn btn-success" (click)="searchItem()">Search</button>
        </div> -->
        <div class="col-4 mb-3 mt-2" *ngFor="let product of myData">
            <div class="card  h-100 shadow text-center " (click)="getDetails(product.id)">
                <div class="card-body">
                    <img class="card-img-top" [src]="product.images[0]" alt="productimage">
                    <h2>{{product.title}}</h2>
                    <p>{{product.description}}</p>
                    <h3>Category:{{product.category}}</h3>
                    <h4 class="price">Price: $ {{ product.price }}</h4>
                    <h3>{{product.brand}}</h3>

                    <p>Width : {{product.dimensions?.width}}</p>
                    <p>height : {{product.dimensions?.height}}</p>
                    <p>depth : {{product.dimensions?.depth}}</p>

                    <!-- comment
                    :
                    "Would not recommend!"
                    date
                    :
                    "2025-04-30T09:41:02.053Z"
                    rating
                    :
                    3
                    reviewerEmail
                    :
                    "eleanor.collins@x.dummyjson.com"
                    reviewerName
                    :
                    "Eleanor Collins" -->

                    <div class="mt-3">
                        <ul>
                            <li *ngFor="let r of product.reviews">
                                {{r.comment}} , {{r.reviewerEmail}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>