<div class="container py-3">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">

            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <img [src]="myData.images[0]"
                        class="img-fluid product-img"
                        alt="{{myData.title}}">
                </div>
                <div class="col-md-6">

                    <span class="badge bg-primary mb-2">
                        {{myData.category}}
                    </span>

                    <h2 class="fw-bold">{{myData.title}}</h2>

                    <p class="text-muted">
                        {{myData.description}}
                    </p>

                    <h3 class="text-success fw-bold">
                        ${{myData.price}}
                    </h3>

                    <p class="mb-2">
                        ⭐ <strong>{{myData.rating}}</strong> / 5
                    </p>

                    <p class="mb-2">
                        <strong>Brand:</strong> {{myData.brand}}
                    </p>

                    <p class="mb-3">
                        <strong>Stock:</strong>
                        <span class="badge bg-success">{{myData.stock}}</span>
                    </p>

                    <button class="btn btn-primary me-2">
                        Buy Now
                    </button>

                    <button class="btn btn-outline-dark">
                        Add to Cart
                    </button>

                </div>

            </div>

            <hr class="my-4">

            
           

        </div>
    </div>
</div>

    <!-- <div class="card shadow-lg border-0 rounded-4 p-4 ">
        <div class="card-body">
            <img class="w-25" [src]="myData.images[0]">
            <h1>{{myData.title}}</h1>
            <p>{{myData.description}}</p>

            <div class="mt-3">
                <ul>
                    <li *ngFor="let r of myData?.reviews">
                        {{r.comment}} , {{r.reviewerEmail}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->