<div class="container">
    <div class="row mt-4">
        <div class="col-md-3 mb-3">
            <!-- <div class="card bg-primary text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Forms</h5>
                    <p class="card-text">Learn Angular Forms.</p>
                    <button class="btn btn-light btn-sm">
                        Go Forms
                    </button>
                </div>
            </div> -->
            <app-box title="Forms" desc="Learn Angular Forms" color="bg-primary"></app-box>


        </div>


        <div class="col-md-3 mb-3">
            <app-box title="Forms" desc="Learn Angular Forms" color="bg-success"></app-box>
            <!-- <div class="card bg-success text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Services</h5>
                    <p class="card-text">Learn Angular Services.</p>
                    <button class="btn btn-light btn-sm">
                        View
                    </button>
                </div>
            </div> -->

        </div>


        <div class="col-md-3 mb-3">
            <app-box title="Forms" desc="Learn Angular Forms" color="bg-warning"></app-box>
            <!-- <div class="card bg-warning text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Routing</h5>
                    <p class="card-text">Learn Angular Routing.</p>
                    <button class="btn btn-dark btn-sm">
                        Explore
                    </button>
                </div>
            </div> -->

        </div>


        <div class="col-md-3 mb-3">
            <app-box title="Forms" desc="Learn Angular Components" color="bg-danger"></app-box>
            <!-- <div class="card bg-danger text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Components</h5>
                    <p class="card-text">Learn Angular Components.</p>
                    <button class="btn btn-light btn-sm">
                        Learn
                    </button>
                </div>
            </div> -->

        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <h3>Latest Products</h3>

        <a routerLink="product-list" class="btn btn-primary">
            View All
        </a>
    </div>


    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let product of products | slice:0:8">

            <app-productcard [productdata]="product"></app-productcard>
            <!-- <div class="card h-100 shadow">
                <img [src]="product.thumbnail" class="card-img-top product-img" alt="{{ product.title }}">

                <div class="card-body">
                    <h6 class="card-title text-truncate">{{ product.title }}</h6>

                    <p class="fw-bold text-primary mb-2">
                        ${{ product.price }}
                    </p>

                    <button class="btn btn-primary btn-sm w-100" (click)="getdetails(product.id)" >
                        View Details
                    </button>
                </div>
            </div> -->
        </div>
    </div>


</div>